$primaryFont: 'Roboto', 'Raleway', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

$borderColor: #ececec;
$primaryLogoColor: #000;
$themeColor: #2196f3;
$titleColor: white;
$inactiveColor: #757575;
$secondaryBgc: #f5f4fa;
$iconPrimary: #afb1b8;
$footerColor: #2f303a;
$projectNameColor: #212121;